

<web-app>
 <servlet>
  <servlet-name>ShapeServ</servlet-name>
  <servlet-class>ShapeServ</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>ShapeServ</servlet-name>
    <url-pattern>/ShapeServ</url-pattern>
 </servlet-mapping>
  <welcome-file-list>

    <welcome-file>index.jsp</welcome-file>
   
  </welcome-file-list>
</web-app>